:root {
  --primaryColor: #069255;
  --dangerColor: #da4838;
  --grayColor: #e0e0e0;
  --button-border-radius: 5px;
  --disabledColor: #BDBDBD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #bdbdbd;
}

* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
  &.align-items-center {
    align-items: center;
  }
  &.justify-content-space-between {
    justify-content: space-between;
  }
}

.px {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl {
  padding-left: 0.5rem;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pt {
  padding-top: 0.5rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.ml {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}

.w-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.primary-text {
  color: var(--primaryColor) !important;
}

.danger-text {
  color: #DA4838 !important;
}

.medium-text {
  font-weight: 500 !important;
}

.text-align-right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

button {
  border: none;
  outline: none;
  padding: 10px 30px;
  cursor: pointer;
}

[ant-click-animating-without-extra-node]:after {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

.g-table {
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
  thead, tfoot {
    background-color: #fafafa !important;
  }
  th {
    font-weight: 500;
  }
  td,
  th {
    border: 1px solid var(--grayColor);
    padding: 10px;
    &:not(:last-child) {
      border-right: 0;
    }
  }
  tr {
    td {
      border-top: 0;
    }
  }
}

.g-timeline {
  .ant-timeline-item {
    padding-bottom: 0;
    .ant-timeline-item-head-blue {
      background-color: var(--primaryColor);
      color: unset;
      border: 0;
      width: 9px;
      height: 9px;
    }
    .ant-timeline-item-tail {
      position: absolute;
      top: 9px;
      left: 4px;
      height: calc(100% - 9px);
      border-left: 2px solid var(--grayColor);
    }
    .ant-timeline-item-content {
      min-height: unset;
    }
  }
}

.g-update-timeline {
  .ant-timeline-item:first-child {
    padding-bottom: 0;
    .ant-timeline-item-head-blue {
      margin-left: -2.5px;
      background-color: #C4C4C4;
      color: unset;
      border: 0;
      width: 14px;
      height: 14px;
      font-size: 25px;
    }
    .ant-timeline-item-head-blue::before{
      color: #fff;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      //background: url("../src/assets/icons/check.svg") no-repeat center;
      width: 14px;
      height: 14px;
    }
  }

  .ant-timeline-item {
    padding-bottom: 0;
    .ant-timeline-item-head-blue {
      margin-left: 0.5px;
      background-color: #C4C4C4;
      color: unset;
      border: 0;
      width: 9px;
      height: 9px;
    }

    .ant-timeline-item-tail {
      position: absolute;
      top: 9px;
      left: 4px;
      height: calc(100% - 9px);
      border-left: 2px solid var(--grayColor);
    }

    .ant-timeline-item-content {
      min-height: unset;
    }

    .ant-timeline-item-content {
      font-size: 16px;
    }
  }
}

.disable-div {
  pointer-events: none;
  opacity: 0.4;
}

//@import "./customize.scss";
//@import "./modals.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Roboto", sans-serif !important;
}
body {
  font-family: "Roboto", sans-serif !important;
  font-size: 62.5% !important;
  color: #000 !important;
}
#app{
  display: flex;
  flex-direction: column;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c4c4c4;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c4c4c4;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c4c4c4;
}

// Table Excel and Table Draft.
#create-order-excel {
  .ant-table-thead > tr > th {
    padding: 3px !important;
    font-weight: bold !important;
  }
}
.action-select-all {
  .ant-checkbox-inner {
    width: 25px;
    height: 25px;
  }
  .ant-checkbox-inner::after {
    left: 30% !important;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    left: 50% !important;
    width: 10px;
    height: 2px;
    background-color: white;
  }
}
.fast-order__container {
  border: 1px solid #dbdbdb;
  //height: calc(100vh - 180px);
  .ant-table,
  .ant-input,
  .ant-select,
  .ant-btn {
    font-size: 0.875rem !important;
  }
  font-size: 0.875rem !important;
}
.scroller {
  height: 100%;
  border: none;
  .vue-recycle-scroller__slot {
    position: sticky;
    top: 0px;
    z-index: 83;
    transform: translateZ(0);
    width: fit-content;
    min-width: 100%;
    background: white !important;
    .header {
      display: grid;
      width: fit-content;
      min-width: 100%;
      height: fit-content;
      &__col-title {
        color: #212529;
        font-size: 14px;
        font-weight: 700;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-bottom: 1px solid #dbdbdb;
        &--fixed {
          position: sticky;
          left: 0;
          z-index: 10;
          background-color: #eee;
        }
        &:not(:last-child) {
          border-right: 1px solid #dbdbdb;
        }
        &-action {
          padding-bottom: 10px;
          .selectAll::before {
            border-radius: 0.25rem !important;
            width: 23px !important;
            height: 23px !important;
          }
          .selectAll::after {
            width: 28px !important;
            height: 28px !important;
            top: 0px;
            left: -26px;
          }
        }
        &-products {
          display: grid;
          grid-template-columns:
            minmax(200px, 200px) minmax(50px, 50px)
            minmax(50px, 50px) minmax(100px, 100px);
          width: 100%;
          div {
            padding: 5px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          div:not(:last-child) {
            border-right: 1px solid #dbdbdb;
          }
        }
      }
      .pkg_code {
        padding: 0 0.25em;
      }
    }
  }

  .vue-recycle-scroller__item-wrapper {
    overflow: visible;
  }
  @for $i from 1 through 80 {
    .vue-recycle-scroller__item-view:nth-child(#{$i}) {
      z-index: #{81 - $i};
    }
  }
}
