$border-default: #c4c4c4;
.addExistedProductModal {
  .ant-modal-header {
    background-color: var(--primaryColor) !important;
    padding: 10px 10px !important;
  }
  .ant-modal-body {
    padding: 0;
    .product__extra {
      padding: 15px 15px 0 15px;
    }
    .product-list {
      margin: 15px 0;
      max-height: calc(100vh - 350px);
      min-height: calc(100vh - 350px);
      overflow-y: auto;
      .product-item {
        border-top: 1px solid #e0e0e0;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        &:last-child {
          border-bottom: 1px solid #e0e0e0;
        }
        &__image {
          width: 75px;
          height: 75px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
          margin-right: 20px;
          flex: 0 1 75px;
        }
        &__info {
          flex: 1;
          display: flex;
          flex-direction: column;
          .info-name {
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .info-extra {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;
            .product-weight {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              border: 1px solid $border-default;
              border-radius: 4px;
              margin-right: 10px;
              padding: 0 5px;
              width: 150px;
            }
            .product-quantity {
              width: 100px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              border: 1px solid $border-default;
              border-radius: 4px;
              padding: 0 5px;
            }
          }
        }
        &__state {
          display: none;
          &--selected {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 1 50px;
            width: 50px;
          }
        }
      }
    }
    .product-action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 15px;
      .g-button {
        width: 90%;
        padding: 0.5em 0.5em;
      }
    }
  }
}

.confirmSubmitOrderModal {
  .ant-modal-header {
    background-color: var(--primaryColor) !important;
    padding: 10px 10px !important;
  }
  .ant-modal-body {
    padding: 0;
    .modal-content {
      padding: 15px;
      .modal-action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;
        .g-button {
          padding: 0.25em 0.25em;
        }
      }
    }

  }
}
.edit-account-modal,
.otp-account-modal,
.delete-account-modal,
.add-product-modal,
.delete-product-modal-warehouse,
.manage-characteristics-modal{
  button.ant-modal-close {
    display: none;
  }
  .ant-modal-header {
    background-color: var(--primaryColor) !important;
  }
  .ant-modal-body{
    padding:16px;
  }
}
