.block-submenu__header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grayColor);
  .notification-types {
    .split {
      margin: 0 0.5em;
      width: 1px;
      background-color: var(--grayColor);
    }
    span {
      cursor: pointer;
      display: block;
      &:first-child {
        width: 50px;
      }
      &:last-child {
        padding-left: 3px;
      }
      &.is-active {
        color: var(--primaryColor);
        font-weight: bold;
      }
    }
  }
}
.block-submenu__body {
  .body-item {
    padding: 10px 15px;
    cursor: pointer;
    .body-item-title-wrapper {
      justify-content: space-between;
      align-items: flex-start;
      img {
        transform: translateY(5px);
        margin-left: 15px;
      }
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--grayColor);
    }
  }
}